{{!-- <div>
    <div>
        <p>Artist Search Result</p>
        {{#each artist}}
        <img src="{{req.query.artist.name}}" alt="artist" class="artist-album">
        <h4>
            {{this.artists.item.name}}
            {{!-- aqui this es cada elemento. Para cada elemento, pillame el name --}}
        </h4>
        <h3>
            {{this.tagline}}
        </h3>
        <p>
            {{this.description}}
        </p>
        {{/each}}
    </div>
</div> --}}

