<form action="/artist-search" method="GET">
  <label>
    Search for an artist
    <input type="text" name="artist"> <!--el input recibe una string y la va a mandar al metodo GET con el nombre de artist-->
  </label> 
  <button type="submit">SEARCH</button>
</form>
